
body {
  background:#022e54;
  /* border: 2vw ridge rgb(16, 40, 70); */
  padding:5%;
  max-width:100%;
}

h1 {
  /* border: 1vw inset #8b55ba; */
  color: rgb(194, 238, 228);
  text-align: center;
  text-shadow :0.1vw 0.1vw 0.1vw #201D1D;
  font-size: 3.8vw;
  font-family: "Poppins";
}

.wrapper{
    display:flex;
    max-width:100%;
}
.wrapper1{
  display:flex;
  max-width:100%;
}

.flex-direction{
  flex-direction:row;
  padding: 10px;
  
}

/* .flex-direction1{ */
 /* flex-direction:column; */
/* } */

h3{
    padding: 2%;
    margin:auto;
    font-size: 2vw;
    color: #ed9cde;
    font-family:'Poppins', sans-serif ;
}

p {
  padding:auto;
  text-align:justify;
  color:black;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3vw;

}


img{border-radius: 15%;
  width:40%;
  padding: 4%;
  margin:auto;
  overflow: hidden;
  /* background-color: #6dadde; */
  /* background:linear-gradient(to bottom, #7ea5f3, #67b1dc,#3298f2); ; */
}


.div1{
  border-radius: 10%;
  margin:auto;
  background:linear-gradient(to right,rgb(182, 221, 237),#ed9cde) ;
  padding: 3%;
  width: 40%;
  clear: both;
  background:linear-gradient(to right,#bbd8e7,#74a3ea) ;
}

.div2{
  border-radius: 10%;
  margin:auto;
  background:linear-gradient(to right,#cae6f4,#6fa0e9) ;
  padding:3%;
  width: 40%;
  overflow: hidden;
  clear: both;
}
.div3{
  border-radius: 5%;
  margin:5%;
  background:linear-gradient(to right,rgb(182, 221, 237),#ed9cde) ;
  padding: 3%;
  width: 85%;
  /*clear: both;*/
  background:linear-gradient(to right,#bbd8e7,#74a3ea) ;
}
.fa-brands{
  color: #f3f5f9;
} 

.icon{
    clear: both;
    margin: auto;
    text-align: center;
    font-size: 2vw;
    word-spacing:2vw;
    margin-top:10%;
  
      
}
@media screen and (max-width: 900px) {
.flex-direction{
  flex-direction:column;
}
p {
  padding:2%;
  text-align:justify;
  color:black;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8vw;

}

img{
    align-self: center;
    width:85%;
    margin:2%;
}
.div1{
    align-self: center;
    width:85%;
    margin:2%;
}
.div2{
    align-self: center;
    width:85%;
    margin:2%;
}
.div3{
    align-self: center;
    width:85%;
    margin:2%;
}

}