
body {
  background:linear-gradient(to bottom, #d66b6b, #323333,#353637); ;
  border: 10px ridge rgb(16, 40, 70);
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  /* height:1200px; */
  
  
}

h1 {
  border: 5px inset #021d31;
  color: rgb(0, 8, 10);
  text-align: center;
  text-shadow: 10%  rgb(45, 58, 81);
  font-size: 4vw;
  font-family: "Poppins";
}

.p1{font-size:3vw;
    padding-left: 20px;
    margin-bottom: 5px;
   }
.p2{font-size:3vw;
    padding-left: 20px;
    margin-bottom: 5px;
    clear: both;
     }

p {
  padding:10px;
  text-align:justify;
  color:black;
  font-family: 'Poppins', sans-serif;

}

.image1{
  padding: 10px;
  height:300px;
  width: 40%;
  margin-left: 55%;
  margin-top:20px;
  margin-bottom:20px;
  background:linear-gradient(to bottom, #d9dee7, #51909b,#6eb5f3); 
}
.image2{
  width:40%;
  height: 180px;
  padding: 10px;
  /* margin:auto; */
  margin-left: 55%;
  margin-top:20px;
  margin-bottom:20px;
  overflow: hidden;
  background-color: #6dadde;
  background:linear-gradient(to bottom, #0c2a67, #476f86,#032645); ;
}


.div1{
  float: left;
  margin-top: 20px;
  margin-bottom:20px;
  background:linear-gradient(to right,white,#325be4) ;
  font-size: 1.1vw;
  color:black;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  /* padding-right: 30px; */
  /* padding-bottom: 10px; */
  /* padding-left: 20px; */
  /* width: 300px; */
  height: 300px;
  width: 40%;
  clear: both;

}

.div2{
  
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  /* margin-right: auto; */
  /* margin-left: auto; */
  background:linear-gradient(to right,#edf0f1,#73a4f9) ;
  font-size: 1.1vw;
  color:black;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  /* padding-right: 10px; */
  /* padding-bottom: 10px; */
  /* padding-left: 20px; */
  width: 40%;
  height: 180px;
  overflow: hidden;
  clear: both;
}
.fa-brands{
  color: #eef6f6;
  bottom:0px;
} 

.icon{
    clear: both;
    margin: auto;
    text-align: center;
    font-size: 2vw;
    padding-top:10px;
    word-spacing: 30px;
    margin-top:80px; 
      /* margin-left: 400px; */
}
@media screen and (max-width: 600px) {
  h1 {
    border: 5px inset #021d31;
    color: rgb(0, 8, 10);
    text-align: center;
    text-shadow: 10%  rgb(45, 58, 81);
    font-size: 3vw;
    font-family: "Poppins";
  }
  .div1{
    float: left;
    margin-top: 20px;
    margin-bottom:20px;
    background:linear-gradient(to right,white,#325be4) ;
    font-size: 1.3vw;
    color:black;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    /* padding-right: 30px; */
    /* padding-bottom: 10px; */
    /* padding-left: 20px; */
    /* width: 300px; */
    height: 100px;
    width: 40%;
    clear: both;}

    .image1{
      padding: 5px;
      height:100px;
      width: 40%;
      margin-left: 55%;
      margin-top:20px;
      margin-bottom:20px;
      background:linear-gradient(to bottom, #d9dee7, #51909b,#6eb5f3); } 

      .div2{
  
        float: left;
        margin-top: 20px;
        margin-bottom: 20px;
        /* margin-right: auto; */
        /* margin-left: auto; */
        background:linear-gradient(to right,#edf0f1,#73a4f9) ;
        font-size: 1.2vw;
        color:black;
        font-family: 'Poppins', sans-serif;
        padding: 5px;
        /* padding-right: 10px; */
        /* padding-bottom: 10px; */
        /* padding-left: 20px; */
        width: 40%;
        height: 50px;
        overflow: hidden;
        clear: both;
      }
      .image2{
        width:40%;
        height: 50px;
        padding: 5px;
        /* margin:auto; */
        margin-left: 55%;
        margin-top:20px;
        margin-bottom:20px;
        overflow: hidden;
        background-color: #6dadde;
        background:linear-gradient(to bottom, #0c2a67, #476f86,#032645); ;
      }
      
      
}