
body {
  background:linear-gradient(to bottom, #aacbe2, #23395d,#6577B3); ;
  border: 10px ridge rgb(16, 40, 70);
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  
  
}

h1 {
  border: 5px inset #164160;
  color: rgb(16, 36, 42);
  text-align: center;
  text-shadow: 2px 2px rgb(45, 58, 81);
  font-size: 4vw;
  font-family: "Poppins";
}

.p1{font-size:35px;
    padding-left: 20px;
    margin-bottom: 5px;
   }
.p2{font-size:35px;
    padding-left: 20px;
    margin-bottom: 5px;
    clear: both;
    
    
   }

p {
  padding:10px;
  /* padding-left: 5%; */
  /* padding-top: 5%; */
  /* padding-right: 5% ; */
  text-align:justify;
  color:black;
  font-family: 'Poppins', sans-serif;

}

.image1{
  padding: 10px;
  height:300px;
  width: 40%;
  /* padding: 10px; */
  margin-left: 55%;
  margin-top:20px;
  margin-bottom:20px;
  background-color: #D3756B ;
  
}
.image2{
  width:40%;
  height: 180px;
  padding: 10px;
  /* margin:auto; */
  margin-left: 55%;
  margin-top:20px;
  margin-bottom:20px;
  overflow: hidden;
  background-color: #D3756B;
  
}


.div1{
  float: left;
  margin-top: 20px;
  margin-bottom:20px;
  background:linear-gradient(to right,#74b1ed,#ef9dc7) ;
  font-size: 1vw;
  color:black;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  /* padding-right: 30px; */
  /* padding-bottom: 10px; */
  /* padding-left: 20px; */
  /* width: 300px; */
  height: 300px;
  width: 40%;
  clear: both;

}

.div2{
  
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  /* margin-right: auto; */
  /* margin-left: auto; */
  background:linear-gradient(to right,#ecadd0,#61b6f3) ;
  font-size: 1vw;
  color:black;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  /* padding-right: 10px; */
  /* padding-bottom: 10px; */
  /* padding-left: 20px; */
  width: 40%;
  height: 180px;
  overflow: hidden;
  clear: both;
}
.fa-brands{
  color: #eef6f6;
  /* bottom:0px; */
} 

.icon{
    clear: both;
    margin: auto;
    text-align: center;
    font-size: 25px;
    padding-top:10px;
    color:black;
    word-spacing: 30px;
    margin-top:100px; 
      /* margin-left: 400px; */
}