
body {
  background:linear-gradient(to bottom, #e1e7ee,rgb(8, 96, 150));
  border: 2vw ridge rgb(16, 40, 70);
  padding:5%;
  max-width:100%;
}

h1 {
  border: 1vw inset #021d31;
  color: rgb(0, 8, 10);
  text-align: center;
  text-shadow :0.1vw 0.1vw 0.1vw #201D1D;
  font-size: 3.8vw;
  font-family: "Poppins";
}

.container{
    display:flex;
    max-width:100%;
}

h3{
    display:block;
    padding: 5%;
    margin:auto;
    font-size: 3vw;
}

p {
  padding:auto;
  text-align:justify;
  color:black;
  font-family: 'Poppins', sans-serif;

}


img{
  width:40%;
  padding: 3%;
  margin:auto;
  overflow: hidden;
  background-color: #6dadde;
  background:linear-gradient(to bottom, #052565, #67b1dc,#03437b); ;
}


.div1{
  margin:auto;
  background:linear-gradient(to right,rgb(182, 221, 237),#ed9cde) ;
  font-size: 1.4vw;
  color:black;
  font-family: 'Poppins', sans-serif;
  padding: 3%;
  width: 40%;
  /*clear: both;*/
  background:linear-gradient(to right,#bbd8e7,#74a3ea) ;
}

.div2{
  margin:auto;
  background:linear-gradient(to right,#cae6f4,#6fa0e9) ;
  font-size: 1.4vw;
  color:black;
  font-family: 'Poppins', sans-serif;
  padding:3%;
  width: 40%;
  overflow: hidden;
  clear: both;
}
.fa-brands{
  color: #f3f5f9;
} 

.icon{
    clear: both;
    margin: auto;
    text-align: center;
    font-size: 2vw;
    word-spacing:2vw;
    margin-top:10%;
  
      
}
/*@media screen and (max-width: 600px) {
}*/